/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Fira+Code:wght@400;500&display=swap');

/* RESET CUSTOM CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --primary-color: #007BFF;
    /* Azul vivo vibrante */
    --secondary-color: #0056D2;
    /* Azul mais profundo para contraste */
    --background-color: #F4F8FF;
    /* Fundo claro levemente azulado */
    --text-color: #0A1F44;
    /* Azul escuro sofisticado */
    --light-primary-color: #339CFF;
    /* Azul claro para hover */
    --dark-background-color: #0B1120;
    --dark-text-color: #141414;
    --light-secondary-color: #66B8FF;
    /* Cor de fundo clara */
    --light-color: #ffffff;
    --light-gray-color: #fafafa;
    ---gray-color: #e0e0e0;
    --font-inter: 'Inter', sans-serif;
    --font-fira-code: 'Fira Code', monospace;
    --hover-transition: all 0.3s ease-in-out;
}

/* DARK MODE */
.dark-mode {
    --dark-primary-color: #0066FF;
    --dark-secondary-color: #0040C1;
    --dark-background-color: #0B1120;
    --dark-text-color: #E6F0FF;
    --dark-light-primary-color: #3385FF;
    --dark-light-secondary-color: #66A3FF;
}

/* RESET CUSTOM CSS */

/* CUSTOM CSS */
body {
    font-family: var(--font-inter);
    background-color: var(--background-color);
    color: var(--text-color);
}

/* SIDEBAR MENU */
.sidebar-menu {
    width: 100%;
    height: 90px;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 3em 2em;
    overflow: hidden;
}

.sidebar-menu .row-1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar-menu .logo a {
    font-family: var(--font-inter);
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.sidebar-menu .logo a img {
    width: 6em;
    height: 6em;
}

.sidebar-menu .menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 1.5em;
    margin-left: 18px;
}

.sidebar-menu .menu-list .sidebar-menu-item a.sidebar-menu-link {
    font-family: var(--font-inter);
    font-size: 16px;
    color: var(--text-color);
    padding: 2em .31em;
    transition: var(--hover-transition);
}

.sidebar-menu .menu-list .sidebar-menu-item a.sidebar-menu-link:hover {
    color: var(--primary-color);
}

.sidebar-menu .row-2.signs {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.sidebar-menu .row-2.signs .btn {
    font-size: 14px;
    font-weight: 800;
    font-family: var(--font-inter);
    color: var(--text-color);
    padding: .6em 1.5em;
    text-align: center;
    transition: var(--hover-transition);
}

.sidebar-menu .row-2.signs .btn:nth-child(2) {
    background-color: var(--light-gray-color);
}

.sidebar-menu .row-2.signs .btn:nth-child(1):hover {
    color: var(--light-primary-color);
}

.sidebar-menu .row-2.signs .btn:nth-child(2):hover {
    background-color: var(---gray-color);
}

.sidebar-menu .row-2.signs .btn:last-child {
    background-color: var(--light-secondary-color);
    color: var(--background-color);
}

.sidebar-menu .row-2.signs .btn:last-child:hover {
    background-color: var(--primary-color);
}



/* SIDEBAR MENU */

/* MAIN STYLE */
.main-full {
    background-color: transparent;
    backdrop-filter: blur(10px);

}

.main-full .text-flow {
    padding-left: 6rem;
    background-color: transparent;
    font-family: var(--font-inter);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--text-color);
}

.main-full .text-flow .nome {
    color: var(--primary-color);
}

.btn-mais {
    position: relative;
    padding: .7rem 1.7rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
}

.matrix {
    background: transparent;
    border: 1px solid var(--light-secondary-color);
    color: var(--dark-primary-color);
    border-radius: .5em;
}

.code-rain {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg,
            rgba(146, 239, 255, 0) 0%,
            rgb(20, 184, 248) 50%,
            rgba(174, 224, 253, 0) 100%);
    opacity: 0;
    transition: 0.3s;
}

.matrix:hover .code-rain {
    opacity: 1;
    animation: rain 1s linear infinite;
}

@keyframes rain {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.img-flow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em;
}

.img-flow img {
    height: auto;
}

/* MAIN STYLE */


/* SOCIAL MEDIA STYLE */

.social-title {
    width: 100vw;
}

.social-media {
    background-color: #070c1d;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.social-media .card {
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;

}

.social-media .card:nth-child(2) {
    background-color: transparent;

}

.social-media .card img {
    width: 50%;
    height: auto;
    border-radius: .5em;
}

.social-media .card:hover {
    transform: translateY(-10px) scale(1.05);
    transition: var(--hover-transition);

}

/* SOCIAL MEDIA STYLE */

/* CARACTEIRSITICAS DO PROJETO */
.caract-main {
    background-color: var(--light-color);
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.cards-caract-main .sqr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--light-color);
    font-family: var(--font-inter);
    text-align: center;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}
.cards-caract-main .sqr i{
    font-size: 4em;
    font-weight: 600;
    margin-bottom: .1em;
}
.cards-caract-main .sqr span{
    font-size: 1.6rem;
}
.cards-caract-main .sqr-1 {
    background-color: #29b7dd;
}
.cards-caract-main .sqr-2 {
    background-color: #8b72ee;
}
.cards-caract-main .sqr-3 {
    background-color: #5d3be7;
}
.cards-caract-main .sqr-4 {
    background-color: #bd72ef;
}
/* CARACTEIRSITICAS DO PROJETO */

/* HABILIDADES STYLES */
.habilidades {
    color: var(--light-color);
    background-color: var(--dark-background-color);
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    
}
.habilidades .row .col{
    margin-bottom: 1.5em;
}
.habilidades .langs i{
    font-size: 3em;
}
.habilidades .langs span{
    font-size: 1.2rem;
    color: var(--light-color);
    margin-top: .5em;
    font-family: var(--font-fira-code);
}
.html i{
    color: #E44D26;
}
.css i{
    color: #3399CC;
}
 .js i{
    color: #F7DF1E;
}
.bootstrap i{
    color: #563d7c;
}
.nodejs i{
    color: #68A063;
}
.expressjs i{
    color: #000;
}
.mysql i{
    color: #00758F;
}
.git i{
    color: #F1502F;
}
.github i{
    color: #333;
}
/* HABILIDADES STYLES */
.solucoes{
    background-color: var(--light-color);
}
.solucoes .textarea h1{
    color: var(--primary-color);
    font-weight: 700;
}
.solucoes .textarea a{
    background-color: var(--light-primary-color);
    font-weight: 700;
    color: var(--light-color);
    transition: var(--hover-transition);
}
.solucoes .textarea a:hover{
    background-color: var(--primary-color);
}
/* SOLUTIONS STYLES*/

/* CUSTOM CSS */